{% assign author = site.author %}
{% assign github_username = site.github_username | default: author.name %}

<div class="author__avatar">
  {% if author.avatar %}
    <img src="{{ author.avatar | relative_url }}" alt="{{ author.name | default: site.title }}">
  {% endif %}
</div>

<div class="author__content">
  <h3 class="author__name">{{ author.name | default: site.title }}</h3>
  <a class="author__github" href="https://github.com/{{ github_username }}" rel="noopener noreferrer">
    @{{ github_username }}
  </a>
</div>

{% include sidebar/category-list.html %}
