<div class="sidebar sticky">
  
  <div itemscope itemtype="https://schema.org/Person">
    {% if site.author.avatar %}
      <div class="author__avatar">
        <a href="/">
          <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" itemprop="image">
        </a>
      </div>
    {% endif %}

    <div class="author__content">
      <h3 class="author__name" itemprop="name">
        <a class="u-url" rel="me" href="{{ site.url }}{{ site.baseurl }}/" itemprop="url">{{ site.author.name }}</a>
      </h3>
      {% if site.author.bio %}
        <p class="author__bio" itemprop="description">
          {{ site.author.bio }}
        </p>
      {% endif %}
    </div>

    <div class="author__urls-wrapper">
      <ul class="author__urls social-icons">
        {% if site.author.location %}
          <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
            <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ site.author.location }}</span>
          </li>
        {% endif %}
        
        {% if site.author.links %}
          {% for link in site.author.links %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>

<div style="text-align: center; margin-top: 20px;">
  <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fyeonhx03.github.io&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=Total+Hits&edge_flat=false" alt="Hits"/>
</div>

  </div>
  
  <div class="sidebar-grass" style="margin-top: 30px; text-align: center;">
    <h4 class="nav__title" style="margin-bottom: 10px; font-size: 0.9em; text-transform: uppercase; color: #555;">
      GitHub Contributions
    </h4>
    <a href="https://github.com/yeonhx03" target="_blank">
      <img src="https://ghchart.rshah.org/yeonhx03" alt="yeonhx03's Github chart" style="width: 100%; border-radius: 5px; padding: 5px; border: 1px solid #eee;" />
    </a>
  </div>

</div>