<div class="vinyl-player">
    <iframe
        class="vinyl-player__soundcloud"
        title="SoundCloud music player"
        width="100%"
        height="44"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/sc-playlists-kr/sets/late-night-lofi&auto_play=false&buying=false&sharing=false&download=false&show_artwork=false&show_comments=false&show_playcount=false&show_user=false&show_reposts=false&show_teaser=false&visual=false&color=%234a4a4a"
    ></iframe>
    <button
        class="vinyl-player__button"
        type="button"
        aria-label="음악 재생"
        aria-pressed="false"
    >
        <img
            class="vinyl-player__record"
            src="/assets/images/vinyl-record.svg"
            alt=""
            width="80"
            height="80"
            aria-hidden="true"
            decoding="async"
            draggable="false"
        >
    </button>
    <label class="vinyl-player__volume" for="vinyl-player-volume">
        <span class="visually-hidden">볼륨</span>
        <span class="vinyl-player__volume-icon vinyl-player__volume-icon--low" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M4 9v6h4l5 4V5L8 9H4z"></path>
            </svg>
        </span>
        <span class="vinyl-player__volume-track">
            <input
                class="vinyl-player__volume-control"
                id="vinyl-player-volume"
                type="range"
                min="0"
                max="100"
                value="70"
                aria-label="볼륨"
                aria-valuetext="70%"
            >
            <span class="vinyl-player__volume-bar" aria-hidden="true">
                <span class="vinyl-player__volume-fill"></span>
            </span>
        </span>
        <span class="vinyl-player__volume-icon vinyl-player__volume-icon--high" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="M3 9v6h4l5 4V5L7 9H3z"></path>
                <path d="M16 8.5a5 5 0 0 1 0 7"></path>
                <path d="M18.8 5.7a9 9 0 0 1 0 12.6"></path>
            </svg>
        </span>
    </label>
    <div class="vinyl-player__views" aria-label="Total views">
        <span class="vinyl-player__views-label">Total views</span>
        <strong
            class="vinyl-player__views-count"
            data-goatcounter-code="{{ site.github_username }}"
        >--</strong>
    </div>
</div>
<script src="https://w.soundcloud.com/player/api.js"></script>
<script
    data-goatcounter="https://{{ site.github_username }}.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"
></script>
